<!-- Herencia del template base -->	
{% extends 'base/base.html' %}

<!-- Bloque de cabecera -->
{% block header %}
{% endblock %}

<!-- Bloque del contenido -->	
{% block content %}
<table class="table table-striped table-hover">
	<thead>
		<tr class="danger">
			<td>ID</td>
			<td>Nombre</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for node in object_list %}
		<tr>
			<td>{{ node.id }}</td>
			<td>{{ node.name }}</td>
			<td>
				<a class="btn btn-primary btn-sm" 
				href="{% url 'Nodes:editNode' node.id %}"
				>Editar</a>
				<a class="btn btn-danger btn-sm" 
				href="{% url 'Nodes:deleteNode' node.id %}"
				>Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay registros de nodos</h1>
		{% endif %}
	</tbody>
</table>

{% endblock %}