<!-- Herencia del template base -->	
{% extends 'base/base.html' %}

<!-- Bloque del contenido -->	
{% block content %}
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">ID</h3>
		</div>
		<div class="panel-body">
			{{ port.id }}
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Nodo</h3>
		</div>
		<div class="panel-body">
			{{ port.node }}
		</div>
	</div>
	
	
	{% if type == "port" %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">Estados</h3>
		</div>
		<div class="panel-body">
			{% if linkdown == True %}
				Link-down
			{% else %}
				Link-down: {{ linkdown }}
			{% endif %} 
			<br>
			{% if blocked == True %}
				Blocked
			{% else %}
				Blocked: {{ blocked }}
			{% endif %}
		</div>
	</div>
	
	
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Bytes Transmitidos</h3>
		</div>
		<div class="panel-body">
			Transmitidos: {{ tbytes }}
			<br>
			Recibidos: {{ rbytes }}
		</div>
	</div>
	
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Caidas Recibidas</h3>
		</div>
		<div class="panel-body">
			{{ drops }}
		</div>
	</div>
	{% endif %}
	
	{% if type == "host" %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">Direccion MAC</h3>
		</div>
		<div class="panel-body">
			{{ mac }}
		</div>
	</div>
	
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Direccion IP</h3>
		</div>
		<div class="panel-body">
			{{ ip }}
		</div>
	</div>
	{% endif %}
{% endblock %}