{% load staticfiles %}<!-- Carga de archivos estaticos (CSS, JS..) -->	
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	
	<!-- Links de archivos CSS -->
	{% block extrahead %}
	{% endblock %}
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	
	<!-- Bloque del titulo -->
	<title>{% block title %}Document{% endblock %}</title>
	
</head>
<body>
<div class="container">	
	<!-- Bloque de la cabecera -->
	{% block header %}
	{% include 'base/header.html' %}
	{% endblock %}
	
	<!-- Bloque del contenido -->
	{% block content %}
	<h5>Este es el contenido del archivo base</h5>
	{% endblock %}
	
	<!-- Bloque del pie de pagina -->
	{% block footer %}
	<h5>Soy del footer del base</h5>
	{% endblock %}
</div>
	
	<!-- Links de archivos Javascript -->
	{% block extrajs %}
	{% endblock %}
	
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
</body>
</html>